<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://3.18.227.207:3000/static/main.css">
    <!-- <link rel="stylesheet" href="http://127.0.0.1:3000/static/main.css"> -->
    <title>Taipei-TRIP</title>
</head>

<body>
    <header>
        <div class="header_top container">
            <h1>台北一日遊</h1>
            <div>
                <a href="javascript:void(0);" class="btn_txt" onclick="getBooking()">預定行程</a>
                <a href="javascript:void(0);" class="btn_txt" id="signinToPopup" onclick="openPopup('popup_login')">登入/註冊</a>
                <a href="javascript:void(0);" class="btn_txt" id="signout" onclick="signout()">登出系統</a>
            </div>
        </div>
    </header>
    <div class="maincontent container" id="attration">
        <div class="attration_wrap">
            <div class="attration_img">
                <a href="javascript:void(0);" class="btn_prev" onclick="attrationImg_prev()"><img src="http://3.18.227.207:3000/static/images/prev.svg" alt="prev"></a>
                <a href="javascript:void(0);" class="btn_next" onclick="attrationImg_next()"><img src="http://3.18.227.207:3000/static/images/next.svg" alt="next"></a>
                <img id="attration_img" data-idx="0" src="http://3.18.227.207:3000/static/images/empty2.png" style="background-image:url('http://3.18.227.207:3000/static/images/empty2.png')" alt="" width="100%">
                <ul class="btn_dot"></ul>
            </div>
            <div class="attration_trip">
                <h1 id="attration_name"></h1>
                <p class="attration_trip_category" id="attration_category"></p>

                <div class="attration_trip_info">
                    <p class="title">預購導覽行程</p>
                    <p>此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <div>
                        <span class="title">選擇日期：</span> <input type="date" id="attration_trip_date"></div>
                    <div>
                        <span class="title">選擇時間：</span>
                        <label class="attration_trip_check"><input type="radio" name="time" value="morning" checked onchange="changeCost(2000)"><span></span>上半天</label>
                        <label class="attration_trip_check"><input type="radio" name="time" value="afternoon" onchange="changeCost(2500)"><span></span>下半天</label>
                    </div>
                    <div><span class="title">導覽費用：</span>新台幣<span id="attration_trip_cost">2000</span>元</div>
                    <button onclick="setBooking()">開始預定行程</button>
                </div>
            </div>
        </div>
        <div class="attration_info">
            <div id="attration_description"></div>
            <div>
                <p class="title">景點地址：</p>
                <p id="attraction_address"></p>
            </div>
            <div>
                <p class="title">交通方式：</p>
                <p id="attraction_transport"></p>
            </div>
        </div>
    </div>
    <footer>COPYRIGHT © 2021 台北一日遊</footer>

    <div class="popup" id="popup_login">
        <span></span>
        <a href="javascript:void(0);" class="btn_esc" onclick="closePopup(this)"><img
                src="http://3.18.227.207:3000/static/images/esc.svg" alt=""></a>
        <p class="title">登入會員帳號</p>
        <div>
            <input type="email" name="useremail" placeholder="輸入電子信箱" id="login_useremail">
            <span class="error" id="error_login_useremail"></span>
        </div>
        <div>
            <input type="password" name="userpw" placeholder="輸入密碼" id="login_userpw">
            <span class="error" id="error_login_userpw"></span>
        </div>
        <button onclick="signin()">登入帳號</button>
        <p id="popup_loginMessage"></p>
        <a href="javascript:void(0);" class="btn_txt" onclick="openPopup('popup_regist')">還沒有帳戶？點此註冊</a>
    </div>
    <div class="popup" id="popup_regist">
        <span></span>
        <a href="javascript:void(0);" class="btn_esc" onclick="closePopup(this)"><img
                src="http://3.18.227.207:3000/static/images/esc.svg" alt=""></a>
        <p class="title">註冊會員帳號</p>
        <div>
            <input type="text" placeholder="輸入姓名" id="regist_username">
            <span class="error" id="error_regist_username"></span>
        </div>
        <div>
            <input type="text" placeholder="輸入電子信箱" id="regist_useremail">
            <span class="error" id="error_regist_useremail"></span>
        </div>
        <div>
            <input type="text" placeholder="輸入密碼" id="regist_userpw">
            <span class="error" id="error_regist_userpw"></span>
        </div>
        <button onclick="regist()">註冊新帳號</button>
        <p id="popup_registMessage"></p>
        <a href="javascript:void(0);" class="btn_txt" onclick="openPopup('popup_login')">已經有帳戶了？點此登入</a>
    </div>
    <div class="pagecover" onclick="closePopup(this)"></div>

    <script type="text/javascript" src="http://3.18.227.207:3000/static/config.js"></script>
    <!-- <script type="text/javascript" src="http://127.0.0.1:3000/static/config.js"></script> -->
    
    <script type="text/javascript" src="http://3.18.227.207:3000/static/user.js"></script>
    <!-- <script type="text/javascript" src="http://127.0.0.1:3000/static/user.js"></script> -->

    <script type="text/javascript" src="http://3.18.227.207:3000/static/booking.js"></script>
    <!-- <script type="text/javascript" src="http://127.0.0.1:3000/static/booking.js"></script> -->
    <script>
        let location_href = location.href.split("/");
        let attraction_id = location_href[location_href.length-1];
        let attraction_imgs;

        //設定最小日期, 與預設日期
        let dateTime = new Date();
        dateTime = dateTime.setDate(dateTime.getDate() + 1);
        dateTime = new Date(dateTime).toJSON().split("T")[0];
        document.querySelector('#attration_trip_date').min = dateTime;
        document.querySelector('#attration_trip_date').value = dateTime;
        
        // console.log(attraction_id);
        apiAttraction(attraction_id);

        function changeCost(cost) {
            // console.log(cost);
            let trip_cost = document.querySelector('#attration_trip_cost');
            trip_cost.removeChild(trip_cost.firstChild);
            trip_cost.appendChild(document.createTextNode(cost));
        }

        function apiAttraction(id) {
            // src = "http://3.18.227.207:3000/api/attraction/"+ id;
            // src = "http://127.0.0.1:3000/api/attraction/"+ id;
            src = config.url + "api/attraction/" + id;
        
            fetch(src).then(function (response) {
                return response.json();//取回的字串已轉成json
            }).then(function (result) {
                console.log(result);
                let attractionName = result.data.name;
                let attractionCategory = result.data.category;
                let attractionMrt = result.data.mrt;
                let attractionDescription = result.data.description;
                let attractionAddress = result.data.address;
                let attractionTransport = result.data.transport;
                let attractionImgs = result.data.images;

                let attration_name=document.querySelector("#attration_name");
                attration_name.appendChild(document.createTextNode(attractionName));

                let attration_category= document.querySelector("#attration_category"); 
                attration_category.appendChild(document.createTextNode(attractionCategory+" at "+ attractionMrt));

                let attration_description = document.querySelector("#attration_description");
                attration_description.appendChild(document.createTextNode(attractionDescription));

                let attraction_address = document.querySelector("#attraction_address");
                attraction_address.appendChild(document.createTextNode(attractionAddress));

                let attraction_transport = document.querySelector("#attraction_transport");
                attraction_transport.appendChild(document.createTextNode(attractionTransport));

                attraction_imgs = attractionImgs;
                slickImgs();

            });

        }

        function slickImgs() {
            // console.log("url(" + attraction_imgs[0] + ")");

            let attration_img = document.querySelector("#attration_img");
            attration_img.style.backgroundImage = "url(" + attraction_imgs[0] + ")";
            attration_img.dataset.idx = 0;

            let btn_prev = document.querySelector(".btn_prev");
            btn_prev.style.opacity = 0.5;

            for (let i = 0; i < attraction_imgs.length; i++) {
                let attration_dots = document.querySelector(".btn_dot");
                let attration_dot = document.createElement('li');
                attration_dot.dataset.idx=i;
                if(i==0){
                    attration_dot.classList.add("active");
                }
                attration_dot.addEventListener("click", attrationImg_dot);
                attration_dots.appendChild(attration_dot);
            }

        }

        function attrationImg_prev(){
            let attration_img = document.querySelector("#attration_img");
            let idx = parseInt(attration_img.dataset.idx);
            let btn_prev = document.querySelector(".btn_prev");
            let btn_next = document.querySelector(".btn_next");
            // console.log("idx:" + idx);
            if(idx>0){
                attration_img.style.backgroundImage = "url(" + attraction_imgs[idx-1] + ")";
                attration_img.dataset.idx = idx-1;

                if (idx - 1 < attraction_imgs.length - 1) {
                    btn_next.style.opacity = 1;
                }
                if (idx - 1 == 0) {
                    btn_prev.style.opacity = 0.5;
                }

                document.querySelectorAll(".btn_dot li")[idx - 1].click();

            }
        }

        function attrationImg_next(){
            let attration_img = document.querySelector("#attration_img");
            let idx = parseInt(attration_img.dataset.idx);
            let btn_prev = document.querySelector(".btn_prev");
            let btn_next = document.querySelector(".btn_next");
            // console.log("idx:" + idx);
            if (idx < attraction_imgs.length-1) {
                attration_img.style.backgroundImage = "url(" + attraction_imgs[idx + 1] + ")";
                attration_img.dataset.idx = idx + 1;

                if(idx + 1 == attraction_imgs.length - 1){
                    btn_next.style.opacity = 0.5;
                }
                if (idx + 1 > 0) {
                    btn_prev.style.opacity = 1;
                }

                document.querySelectorAll(".btn_dot li")[idx + 1].click();
            }
        }

        function attrationImg_dot(e) {
            // console.log(e.target.dataset.idx);
            let attration_img = document.querySelector("#attration_img");
            let idx = parseInt(e.target.dataset.idx);
            let btn_prev = document.querySelector(".btn_prev");
            let btn_next = document.querySelector(".btn_next");

            attration_img.style.backgroundImage = "url(" + attraction_imgs[idx] + ")";
            attration_img.dataset.idx = idx;

            // console.log(document.querySelectorAll(".btn_dot li").length);
            for (let i = 0; i < document.querySelectorAll(".btn_dot li").length; i++) {
                if(document.querySelectorAll(".btn_dot li")[i].dataset.idx == idx){
                    document.querySelectorAll(".btn_dot li")[i].classList.add("active");
                }else{
                    document.querySelectorAll(".btn_dot li")[i].classList.remove("active");
                }
            }
            
            btn_prev.style.opacity = 1;
            btn_next.style.opacity = 1;
            if(idx==0){
                btn_prev.style.opacity = 0.5;
            }else if(idx == attraction_imgs.length-1){
                btn_next.style.opacity = 0.5;
            }
        }

    </script>
</body>

</html>